name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Build
        run: go build -v ./...

      - name: Vet
        run: go vet ./...

      - name: Test
        env:
          KSEF_CERT_PASS: ${{ secrets.KSEF_CERT_PASS }}
          KSEF_CERT_NIP: ${{ secrets.KSEF_CERT_NIP }}
          KSEF_CERT_SERIAL: ${{ secrets.KSEF_CERT_SERIAL }}
        run: go test -v ./...

